# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_SECRET=''
GOOGLE_CLIENT_SECRET=''
APPLE_CLIENT_SECRET=''
RSA_PUBLIC_KEY=""
RSA_PRIVATE_KEY=""
