# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://HOST_IP:3000
NEXT_PUBLIC_API_URL=http://HOST_IP:8123/api/v1
# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://HOST_IP:3000
